main {
    top: 50px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: auto;
    background: #EFEFEF;
    width: 100%;
    min-width: 900px;
}

body { /* This is the CSS for body */
    min-width: 900px;
    /*overflow: hidden;  Overflow set to hidden. Any elements outside of the window will not be shown */
    height: 100%; /* Height set to 100% means the body will extend from the top of the window to the bottom */
    max-height: 100%; /* Maximum height is limited to 100% */
    font-family: 'Montserrat', sans-serif; /* Font used in body is Montserrat */
    line-height: 1.5em; /* Line spacing is set to 1.5em */
    font-size: 18px; /* Font size set to 18px */
}

.borderedCourseOperations {
    width: 700px;
    height: 190px;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
}

.borderedTeacherOperations {
    width: 700px;
    height: 193px;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 54.8%;
    transform: translate(-50%, -50%);
}

.borderedAssociationOperations {
    width: 700px;
    height: 193px;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 82.7%;
    transform: translate(-50%, -50%);
}

/* Course operation css*/

#h1{
    font-size:30px;
    margin-bottom:0.5%;
}

#insertCourseH2, #deleteCourseH2, #insertTeacherH2, #deleteTeacherH2, #insertAssociationH2, #deleteAssociationH2 {
    font-size: 20px;
}

.row {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.insert-course-item {
    display: inline-block;
}

#courseId, #courseName, #teacherId, #teacherName {
    height: 40%;
    border-radius: 1px;
}

#courseId:focus, #courseName:focus, #teacherId:focus, #teacherName:focus {
    outline: none;
    border-color: #FFCCBC;
    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #E64A19;
    box-shadow: 0px 0px 4px #E64A19;
}

#courseId::placeholder, #courseName::placeholder, #teacherId::placeholder, #teacherName::placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    text-align: center;
}

#insertCourseBtn, #insertTeacherBtn {
    display: inline-block;
    margin-left: 62%;
    width: 11%;
    top: 56px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#insertCourseBtn:hover, #insertTeacherBtn:hover, #addAssociationBtn:hover, #deleteCourseBtn:hover, #deleteTeacherBtn:hover, #deleteAssociationBtn:hover, #reactivateCourseBtn:hover, #reactivateTeacherBtn:hover {
    background-color: #ff9800;
}

#addAssociationBtn {
    display: inline-block;
    margin-left: 56%;
    width: 11%;
    top: 62px;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#coursesOptions, #deleteShowTeachers, #showCourses, #showTeachers, #showCoursesDel, #showTeachersDel {
    align-self: flex-start;
    border-color: #BDBDBD;
    min-height: 31px;
    min-width: 200px;
    width: 40px;
}

#coursesOptions:focus, #deleteShowTeachers:focus, #showCourses:focus, #showTeachers:focus, #showCoursesDel:focus, #showTeachersDel:focus {
    outline: none;
    border-color: #FFCCBC;
    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #E64A19;
    box-shadow: 0px 0px 4px #E64A19;
}

#deleteCourseBtn{
    display: inline-block;
    bottom: 7.4%;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#deleteTeacherBtn {
    display: inline-block;
    bottom: 9.3%;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#deleteAssociationBtn {
    display: inline-block;
    width: 10%;
    bottom: 11.5%;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#reactivateCourseBtn {
    display: inline-block;
    width: 9%;
    bottom: 7.4%;
    margin-left: 12%;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

#reactivateTeacherBtn {
    display: inline-block;
    width: 9%;
    bottom: 9.3%;
    margin-left: 12%;
    border: 0.16em solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-color: #FF7043;
    border: none;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    transition: all 0.2s;
}

footer{ 
    position:absolute; 

    height:30px; 
    top: 97%;
    margin-left: 11.3%;
}

.text-nowrap bd-highlight{
    width: 8rem;
    color: #FFCDD2;
}

