#book{
    border-radius:3px;
    border:1px solid #ff7043;
    margin-left: 8%;
    margin-right: 40%;
    background: orangered;
    color: white;
    border: 0;
    text-align: center;
    font-size: 90%;
    padding:6px 15px;
    width: 18%;
}

.modal-title{
    margin-left: 22%;
}

#book:hover{
    background: #F57C00;
}

button.close:hover {
    color:#ff7043; 
    opacity: 1;
}

#course, #teacher, #days, #hour {
    text-align-last:center;
    border: 1px solid #ccc;
    width: 190px;
    border-radius: 3px;
    overflow: hidden;
}

#course-style select, #teacher-style select, #days-style select, #hour-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#course:focus, #teacher:focus, #days:focus, #hour:focus {
    outline: none;
    border:1px solid orange;
    box-shadow: 0 0 10px #ff8a65;
}