body{
    margin: 0px;
}

.jumbotron {
    height: 40%;
    max-width: 100%;
    background-size: cover;        
    background-position: center;     
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;   
}

#h1ID {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 45px;
    letter-spacing: 2px;
}

#h2ID {
    text-align: center;
    color: black;
    margin-bottom: 8px;
}

#h3ID {
    text-align: center;
    color: black;
    margin-bottom: 8px;
    font-size: 27px;
    left: 30px;
}

.search-field {
    margin-left: 5.5%;
}

.skills {
    width: 400px;
}

.location {
    width: 200px;
}

.search-btn {
    height: 29px;
    width: 77px;
    background: orangered;
    border: none;
    color:white;
    border-radius: 2px;
}

.search-btn:hover {
    background: #F57C00;
    cursor: pointer;
}

.form-box{
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 50px;
}

.card-img-top {
    width: 70%;
}

#appIcon {
    margin-top: 0%;
    width: 200px;
}

#footer {
    height: 50px;
    margin-top: 30px;
    right: 50px;
    text-align: center;
}

/* card*/

IMG.searchLent{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

IMG.calendar{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

IMG.prize{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

::-webkit-input-placeholder {
    text-align: center;
}

/* Login modal button style*/

.modal-dialog {
    max-width: 600px;
    background: #FFF;
    margin: auto;
}

#loginBtn, #logoutBtn {
    border-radius:3px;
    border:1px solid #ff7043;
    margin-left: 8%;
    background: orangered;
    color: white;
    border: 0;
    text-align: center;
    font-size: 90%;
    padding:6px 15px;
    width: 110%;
}

#loginBtn:hover, #bookingBtn:hover, #logoutBtn:hover {
    background: #F57C00;
}

#outer{
    width:100%;
    text-align: center;
}

.inner{
    display: inline-flex;
}

#bookingBtn{
    border-radius:3px;
    border:1px solid #ff4400;
    margin-right: 8%;
    background: orangered;
    color: white;
    border: 0;
    text-align: center;
    font-size: 90%;
    padding:6px 15px;
    width: 110%;
}

.nav-item active:hover {
    font-weight: bold;
}

ul.navbar-nav li a:hover{
    font-weight:bold;   
}

