/* Login modal button style*/

.modal{
    /* questo DOVREBBE modificare la dimensione, display: table lo riduce*/
}

/* Da qui gestisco lo sfondo bianco del form*/
.modal-content{ 
    padding: 20px;
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

.modal-body input {
    padding: 5px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border:none;
    border-bottom: 2px solid #b0bec5;
}

.modal-body input[type="button"] {
    border-radius: 25px;
    font-size: 20px;
    height: 40px;
    width: 130px;
    cursor : pointer;
    background: #ff7043;
    color: #fff;
    margin-bottom: 0;
}

.modal-body input[type="button"]:hover{
    background: #ff8a65;
    color: #fff;
}

.modal-body form div{
    position: relative;
}

.modal-body form div label{
    position: absolute;
    top: 3px;
    pointer-events: none;
    left: 0;
    transition: .5s;
}

/*effetto dei campi*/

.modal-body input:focus ~label, .modal-body input:valid ~label{
    left: 0;
    top: -16px;
    color: rgb(169,169,169);
    font-size: 12px;
    font-weight: bold;
}

.modal-body input:focus, .modal-body input:valid{
    border-bottom: 2px solid #263238;
}

#loginBtnTextFooter{
    margin-right: 19%;
}

#forgotPswTextFooter{
    margin-top: 15px;
    margin-bottom: -20px;
}

